{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if not 'usuario_id' in session %}
        <div class="container">
            <div class="row justify-content-center">
                <!-- Formulário de Login -->
                <div class="col-md-4">
                    <div id="login-popup" class="shadow p-3 mb-5 bg-body-tertiary rounded">
                        <form method="POST" action="{{ url_for('entrar') }}" class="form-container">
                            <h2 class="font-monospace">Entrar</h2>
                            <hr>
                            <div class="form-group mt-1">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" name="email" id="email" class="form-control" required>
                            </div>
                            <div class="form-group mt-1">
                                <label for="senha" class="form-label">Senha:</label>
                                <input type="password" name="senha" id="senha" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Entrar</button>
                        </form>
                    </div>
                </div>

                <!-- Formulário de Registro -->
                <div class="col-md-4">
                    <div id="register-popup" class="shadow p-3 mb-5 bg-body-tertiary rounded">
                        <form method="POST" action="{{ url_for('registrar') }}" class="form-container">
                            <h2 class="font-monospace">Registro</h2>
                            <hr>
                            <div class="form-group mt-1">
                                <label for="nome" class="form-label">Nome de usuário:</label>
                                <input type="text" name="nome" id="nome" class="form-control" required>
                            </div>
                            <div class="form-group mt-1">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" name="email" id="email" class="form-control" required>
                            </div>
                            <div class="form-group mt-1">
                                <label for="senha" class="form-label">Senha:</label>
                                <input type="password" name="senha" id="senha" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1 class="mb-4">Seus Projetos: </h1>
                    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
                        {% for projeto in projetos %}
                        <div class="col">
                            <div class="card shadow h-100">
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="card-title font-monospace">{{ projeto.nome_projeto }}</h5>
                                    </div>
                                    <p class="mt-2">Descrição:</p>
                                    <p class="card-text text-secondary" style="max-height: 150px; overflow-y: auto;">
                                        {% if projeto.descricao_projeto %}{{ projeto.descricao_projeto }}{% endif %}
                                    </p>
                                    <div class="mt-auto mx-auto">
                                        <a href="{{ url_for('projeto_especifico', projeto_id=projeto.id) }}" class="btn btn-primary mt-2"><i class="bi bi-box-arrow-in-left"></i> Visualizar</a>
                                        <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#modalEditarProjeto{{ projeto.id }}"><i class="bi bi-pencil"></i> Editar</button>
                                        <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#modalExcluirProjeto{{ projeto.id }}"><i class="bi bi-trash"></i> Excluir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#modalCriarProjeto">
                            <i class="bi bi-plus"></i> Criar Novo Projeto
                        </button>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

        <!-- Modal Editar Projeto -->
        {% for projeto in projetos %}
        <div class="modal fade" id="modalEditarProjeto{{ projeto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Projeto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('alterar_projeto', projeto_id=projeto.id) }}" method="POST">
                            <div class="mb-3">
                                <label for="nome_projeto" class="form-label">Nome do Projeto:</label>
                                <input type="text" class="form-control text-secondary" id="nome_projeto" name="nome_projeto" value="{{ projeto.nome_projeto }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="descricao_projeto" class="form-label">Descrição do Projeto:</label>
                                <textarea class="form-control text-secondary" id="descricao_projeto" name="descricao_projeto" rows="3">{{ projeto.descricao_projeto }}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Modal Excluir Projeto -->
        {% for projeto in projetos %}
        <div class="modal fade" id="modalExcluirProjeto{{ projeto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Excluir Projeto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('excluir_projeto', projeto_id=projeto.id) }}" method="POST">
                            <div class="mb-3">
                                <p class="text-danger">Você tem certeza que deseja excluir o projeto: {{ projeto.nome_projeto }}</p>
                                <label for="senha_usuario" class="form-label">Digite a sua senha para confirmar a ação.</label>
                                <input type="password" class="form-control text-secondary" id="senha_usuario" name="senha_usuario" required>
                            </div>
                            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Modal Criar Projeto -->
        <div class="modal fade" id="modalCriarProjeto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Criar Novo Projeto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('criar_projeto') }}" method="POST">
                            <div class="mb-3">
                                <label for="nome_projeto" class="form-label">Nome do Projeto:</label>
                                <input type="text" class="form-control" id="nome_projeto" name="nome_projeto" required>
                            </div>
                            <div class="mb-3">
                                <label for="descricao_projeto" class="form-label">Descrição do Projeto:</label>
                                <textarea class="form-control" id="descricao_projeto" name="descricao_projeto" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Criar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Editar Projeto -->
        {% for projeto in projetos %}
        <div class="modal fade" id="modalEditarProjeto{{ projeto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Projeto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('alterar_projeto', projeto_id=projeto.id) }}" method="POST">
                            <div class="mb-3">
                                <label for="nome_projeto" class="form-label">Nome do Projeto:</label>
                                <input type="text" class="form-control text-secondary" id="nome_projeto" name="nome_projeto" value="{{ projeto.nome_projeto }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="descricao_projeto" class="form-label">Descrição do Projeto:</label>
                                <textarea class="form-control text-secondary" id="descricao_projeto" name="descricao_projeto" rows="3">{{ projeto.descricao_projeto }}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Modal Excluir Projeto -->
        {% for projeto in projetos %}
        <div class="modal fade" id="modalExcluirProjeto{{ projeto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Excluir Projeto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('excluir_projeto', projeto_id=projeto.id) }}" method="POST">
                            <div class="mb-3">
                                <p class="text-danger">Você tem certeza que deseja excluir o projeto: {{ projeto.nome_projeto }}</p>
                                <label for="senha_usuario" class="form-label">Digite a sua senha para confirmar a ação.</label>
                                <input type="password" class="form-control text-secondary" id="senha_usuario" name="senha_usuario" required>
                            </div>
                            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Modal Criar Projeto -->
        <div class="modal fade" id="modalCriarProjeto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Criar Novo Projeto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('criar_projeto') }}" method="POST">
                            <div class="mb-3">
                                <label for="nome_projeto" class="form-label">Nome do Projeto:</label>
                                <input type="text" class="form-control" id="nome_projeto" name="nome_projeto" required>
                            </div>
                            <div class="mb-3">
                                <label for="descricao_projeto" class="form-label">Descrição do Projeto:</label>
                                <textarea class="form-control" id="descricao_projeto" name="descricao_projeto" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Criar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
