{% extends 'base.html' %}
{% block title %} Projeto {{ projeto.nome_projeto }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-4 font-monospace">{{ projeto.nome_projeto }}</h1>
            <p class="card-text ">{% if projeto.descricao_projeto %} {{ projeto.descricao_projeto }} {% endif %}</p>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEditarProjeto{{ projeto.id }}">
                <i class="bi bi-pencil"></i> Editar Projeto
            </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalExcluirProjeto{{ projeto.id }}">
                <i class="bi bi-trash"></i> Excluir Projeto
            </button>

            <h2 class="mt-4">Suas Tarefas:</h2>

            <div class="list-group">
                <form action=" {{ url_for('excluir_tarefas_selecionadas', projeto_id=projeto.id) }}" method="POST" id="formExcluirTarefas">
                    {% for tarefa in projeto.tarefas %}
                        <div class="list-group-item shadow">
                            <div class="form-check">
                                <input class="form-check-input tarefa-checkbox" type="checkbox" value="{{ tarefa.id }}" id="tarefa-checkbox-{{ tarefa.id }}" name="tarefas_selecionadas[]">
                                <label class="form-check-label" for="tarefa-checkbox-{{ tarefa.id }}">
                                    <b>{{ tarefa.nome_tarefa }}</b>
                                </label>
                            </div>
                            <p class="mb-1 mt-1"><b>Status:</b> {{ tarefa.status }}</p>
                            <small><b>Criada em: </b>{{ tarefa.data_criacao.strftime('%d/%m/%Y') }}</small> <br>
                            {% if tarefa.data_entrega %}
                                <small> <b>Data de entrega: </b>{{ tarefa.data_entrega.strftime('%d/%m/%Y') }}</small>
                            {% endif %}
                            <div class="mt-2">
                                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalAlterarTarefa{{ tarefa.id }}"><i class="bi bi-pencil"></i> Editar</button>
                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalExcluirTarefa{{ tarefa.id }}"><i class="bi bi-trash"></i> Excluir</button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="text-center mt-4">
                        <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#modalCriarTarefa"><i class="bi bi-plus"></i> Criar Nova Tarefa</button>
                        <!-- Botão para abrir o modal de exclusão de tarefas -->
                        <button type="button" class="btn btn-danger m-1" id="btnAbrirModalExclusao" disabled>
                            <i class="bi bi-trash"></i> Excluir Tarefas Selecionadas
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Criar Tarefa -->
<div class="modal fade" id="modalCriarTarefa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Criar Nova Tarefa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('criar_tarefa', projeto_id=projeto.id) }}" method="POST">
                    <div class="mb-3">
                        <label for="nome_tarefa" class="form-label">Nome da Tarefa:</label>
                        <input type="text" class="form-control text-secondary" id="nome_tarefa" name="nome_tarefa" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Criar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Ações da Inteligência artificial -->

<!-- Botão que abre o modal -->
<!-- Botão de IA -->
<div class="position-fixed bottom-0 end-0 m-3">
    {% if sugestao_tarefas or novo_titulo_sugerido or nova_descricao_sugerida %}
        <div class="btn-group dropstart">
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropstart</span>
            </button>
            <ul class="dropdown-menu">
                <!-- Adicionar tarefas sugeridas -->
                {% if sugestao_tarefas %}
                    <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#modalAdicionarTarefasSugeridas"><i class="bi bi-list-task"></i> Adicionar tarefas sugeridas</button></li>
                {% endif %}
                <!-- Sugerir novo título -->
                {% if novo_titulo_sugerido %}
                    <li><form action="{{ url_for('adicionar_titulo_sugerido', projeto_id=projeto.id, novo_titulo_sugerido=novo_titulo_sugerido) }}" method="POST"><button class="dropdown-item" type="submit"><i class="bi bi-card-heading"></i> Adicionar o título sugerido</button></form></li>
                {% endif %}
                <!-- Sugerir nova descrição -->
                {% if nova_descricao_sugerida %}
                    <li><form action="{{ url_for('adicionar_descricao_sugerida', projeto_id=projeto.id, nova_descricao_sugerida=nova_descricao_sugerida) }}" method="POST"><button class="dropdown-item" type="submit"><i class="bi bi-file-text"></i> Adicionar a descrição sugerida</button></form></li>
                {% endif %}
            </ul>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalAcoesIA">
                <i class="bi bi-rocket-takeoff-fill"></i>
            </button>
        </div>
    {% else %}
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalAcoesIA">
            <i class="bi bi-rocket-takeoff-fill"></i>
        </button>
    {% endif %}
</div>


<!-- Modal IA -->
<div class="modal fade" id="modalAcoesIA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inteligência Artificial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <form action="{{ url_for('reescrever_descricao', projeto_id=projeto.id) }}" method="POST" class="ia-action-form">
                        <button type="submit" class="btn btn-outline-info ia-action-btn">
                            Sugerir uma descrição
                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        </button>
                    </form>

                <button type="button" class="btn btn-outline-info mt-3" data-bs-toggle="modal" data-bs-target="#modalNovoTitulo" data-bs-dismiss="modal">
                    Sugerir um novo título para o projeto
                </button>


                <form action="{{ url_for('sugerir_taferas', projeto_id=projeto.id) }}" method="POST" class="ia-action-form">
                    <button type="submit" class="btn btn-outline-info mt-3 ia-action-btn">
                        Sugerir novas tarefas
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </form>


                <form action="{{ url_for('avaliar_projeto', projeto_id=projeto.id) }}" method="POST" class="ia-action-form">
                    <button type="submit" class="btn btn-outline-info mt-3 ia-action-btn">
                        Avaliar o meu projeto
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal para sugerir novo título -->
<div class="modal fade" id="modalNovoTitulo" tabindex="-1" aria-labelledby="novoTituloLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="novoTituloLabel">Sugerir Novo Título</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('sugerir_titulo', projeto_id=projeto.id) }}" method="POST" class="ia-action-form">
                    <div class="mb-3">
                        <label for="novaDescricao" class="form-label">Escreva uma pequena descrição para sugerirmos um título para o seu projeto:</label>
                        <textarea class="form-control" id="novaDescricao" name="nova_descricao_modelo" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary ia-action-btn">
                        Enviar
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal Editar Projeto -->
<div class="modal fade" id="modalEditarProjeto{{ projeto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Projeto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('alterar_projeto', projeto_id=projeto.id) }}" method="POST">
                    <div class="mb-3">
                        <label for="nome_projeto" class="form-label">Nome do Projeto:</label>
                        <input type="text" class="form-control text-secondary" id="nome_projeto" name="nome_projeto" value="{{ projeto.nome_projeto }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="descricao_projeto" class="form-label">Descrição do Projeto:</label>
                        <textarea class="form-control text-secondary" id="descricao_projeto" name="descricao_projeto" rows="3">{{ projeto.descricao_projeto }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Excluir Tarefa -->
{% for tarefa in projeto.tarefas %}
    <div class="modal fade" id="modalExcluirTarefa{{ tarefa.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Excluir Tarefa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('excluir_tarefa', tarefa_id=tarefa.id) }}" method="POST">
                        <div class="mb-3">
                            <p class="text-danger">Você tem certeza que deseja excluir a tarefa: {{ tarefa.nome_tarefa }}</p>
                            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<!-- Modal Excluir Projeto -->
<div class="modal fade" id="modalExcluirProjeto{{ projeto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir Projeto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('excluir_projeto', projeto_id=projeto.id) }}" method="POST">
                    <div class="mb-3">
                        <p class="text-danger">Você tem certeza que deseja excluir o projeto: {{ projeto.nome_projeto }}</p>
                        <label for="senha_usuario" class="form-label">Digite a sua senha para confirmar a ação.</label>
                        <input type="password" class="form-control text-secondary" id="senha_usuario" name="senha_usuario" required>
                    </div>
                    <button type="submit" class="btn btn-danger"> Confirmar Exclusão</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para adicionar tarefas sugeridas -->
<div class="modal fade" id="modalAdicionarTarefasSugeridas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Tarefas Sugeridas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formAdicionarTarefasSugeridas" action="{{ url_for('adicionar_tarefas_sugeridas', projeto_id=projeto.id) }}" method="POST">
                    {% for sugestao in sugestao_tarefas %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="tarefas_sugeridas[]" value="{{ sugestao }}" id="tarefa{{ loop.index }}">
                            <label class="form-check-label" for="tarefa{{ loop.index }}">
                                {{ sugestao }}
                            </label>
                        </div>
                    {% endfor %}
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Adicionar Tarefas Selecionadas</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmação Excluir Tarefas Selecionadas -->
<div class="modal fade" id="modalConfirmarExclusaoTarefas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão de Tarefas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-danger">Você tem certeza que deseja excluir as tarefas selecionadas?</p>
                <button type="button" class="btn btn-danger" id="btnConfirmarExclusao">Confirmar Exclusão</button>
            </div>
        </div>
    </div>
</div>

{% for tarefa in projeto.tarefas %}
    <!-- Modal Alterar Tarefa -->
    <div class="modal fade" id="modalAlterarTarefa{{ tarefa.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alterar Tarefa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('alterar_tarefa', tarefa_id=tarefa.id) }}" method="POST">
                        <div class="mb-3">
                            <label for="novo_nome_tarefa" class="form-label">Nome da Tarefa:</label>
                            <input type="text" class="form-control text-secondary" id="novo_nome_tarefa" name="novo_nome_tarefa" value="{{ tarefa.nome_tarefa }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="novo_status" class="form-label">Status:</label>
                            <select class="form-control text-secondary" id="novo_status" name="novo_status" required>
                                <option value="Não Iniciado" {% if tarefa.status == 'Não Iniciado' %}selected{% endif %}>Não Iniciado</option>
                                <option value="Em andamento" {% if tarefa.status == 'Em andamento' %}selected{% endif %}>Em Andamento</option>
                                <option value="Incompleta" {% if tarefa.status == 'Incompleta' %}selected{% endif %}>Incompleta</option>
                                <option value="Completa" {% if tarefa.status == 'Completa' %}selected{% endif %}>Completa</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="nova_data_entrega" class="form-label">Data de Entrega:</label>
                            <input type="date" class="form-control text-secondary" id="nova_data_entrega" name="nova_data_entrega" value="{{ tarefa.data_entrega.strftime('%Y-%m-%d') if tarefa.data_entrega }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Alterar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}

{% block script %}
    <!-- Modal de confirmação de exclusão de várias tarefas -->
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Ao clicar no botão, abrir o modal de confirmação
        document.getElementById("btnAbrirModalExclusao").addEventListener("click", function () {
            let myModal = new bootstrap.Modal(document.getElementById('modalConfirmarExclusaoTarefas'));
            myModal.show();
        });

        // Ao clicar em "Confirmar Exclusão" no modal, enviar o formulário para excluir as tarefas selecionadas
        document.getElementById("btnConfirmarExclusao").addEventListener("click", function () {
            let form = document.getElementById("formExcluirTarefas");
            form.submit();
        });
    });
    </script>

    <!-- Spinners -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let forms = document.querySelectorAll('form.ia-action-form');
            forms.forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    let btn = form.querySelector('.ia-action-btn');
                    btn.disabled = true;
                    let spinner = btn.querySelector('.spinner-border');
                    spinner.classList.remove('d-none');
                });
            });

            let formCriarTarefa = document.getElementById('formCriarTarefa');
            formCriarTarefa.addEventListener('submit', function(event) {
                let btnCriarTarefa = document.getElementById('btnCriarTarefa');
                btnCriarTarefa.disabled = true;
                let spinner = btnCriarTarefa.querySelector('.spinner-border');
                spinner.classList.remove('d-none');
            });

            let btnAbrirModalExclusao = document.getElementById('btnAbrirModalExclusao');
            btnAbrirModalExclusao.addEventListener('click', function(event) {
                let checkboxes = document.querySelectorAll('.tarefa-checkbox');
                let algumSelecionado = false;
                checkboxes.forEach(function(checkbox) {
                    if (checkbox.checked) {
                        algumSelecionado = true;
                    }
                });
                if (algumSelecionado) {
                    let modalExcluirTarefas = new bootstrap.Modal(document.getElementById('modalExcluirTarefasSelecionadas'));
                    modalExcluirTarefas.show();
                } else {
                    alert('Nenhuma tarefa selecionada');
                }
            });

            document.getElementById('formExcluirTarefas').addEventListener('submit', function(event) {
                let btnConfirmarExclusao = document.getElementById('btnConfirmarExclusao');
                btnConfirmarExclusao.disabled = true;
                let spinner = btnConfirmarExclusao.querySelector('.spinner-border');
                spinner.classList.remove('d-none');
            });
        });

    </script>

    <!-- Script para habilitar o botão de abrir o modal de exclusão de tarefas -->
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Ao clicar em uma checkbox, verificar se há alguma tarefa selecionada
        var checkboxes = document.querySelectorAll('.tarefa-checkbox');
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                var algumSelecionado = false;
                checkboxes.forEach(function(cb) {
                    if (cb.checked) {
                        algumSelecionado = true;
                    }
                });
                // Se houver tarefa selecionada, habilitar o botão
                if (algumSelecionado) {
                    document.getElementById("btnAbrirModalExclusao").disabled = false;
                } else {
                    document.getElementById("btnAbrirModalExclusao").disabled = true;
                }
            });
        });
    });
    </script>


{% endblock %}
